<div class="cuadro-login col-12">

      <div class="col-12">
            <input type="text" ng-model="email" class="form-control" placeholder="usuario@mail.com">
      </div>
      <div class="col-12 ">
            <input type="password" ng-model="pass" class="form-control" placeholder="Clave..">
      </div>
      <div class="col-12 pt-3 pb-3">
            <button class="btn btn-success col-12" ng-click="logearse()">
                  Login
            </button>
            <button class="btn btn-warning col-12" ng-click="comprobarOperadorLogeado()">
                  Comporobar Logeado
            </button>
            <button class="btn btn-danger col-12" ng-click="exit()">
                  Cerrar Sesion
            </button>
      </div>


      <div class="col-12">
            <h3>Usuario Logeado:</h3>
            <p>{{usrLogeado}}</p>
            <h3>JWT:</h3>
            <p>
                  {{jwt}}
            </p>
      </div>
</div>

<style>


</style>

<script inyectado>

</script>